@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image {
  background-image: url('https://ableton-production.imgix.net/about/header.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
html, body {
  font-family: 'Jost', sans-serif;
}